

@media only screen and (max-width:1300px) {

    .h1{
        font-size: 45px;
    }

}

@media only screen and (max-width:1130px) {

    .h1{
        font-size: 40px;
    }

}
@media only screen and (max-width:1126px) {


    .con{
        width: 80%;
    }

}

@media only screen and (max-width:1052.22px) {

    .h1{
        font-size: 37px;
    }
}
@media only screen and (max-width:1023px) {

    .con{

        width: 85%;
    }
    .grid{
        grid-template-columns: 34% 34% 34%;
    }
    .img2 svg {
        width: 11%;
    }


}



@media only screen and (max-width:982.22px) {

    .h1{
        font-size: 39px;
    }
}

@media only screen and (max-width:928.89px) {

    .h1 {
        font-size: 37px;
    }
    .button{
    display: none;
    }
}

@media only screen and (max-width:873.33px) {

    .h1{
        font-size: 33px;
    }

}

@media only screen and (max-width:854px) {

    .flex{
        flex-direction: column;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .left2 {
        width: 100%;
        /* border: 1px solid darkslateblue; */
        height: auto;
        margin-right: 0;
        /* margin: 0 auto; */
    }
    .list li svg {
        width: 20px;
        color: rgb(34, 197, 94);
    }
    .img2 svg {
        width: 11%;
    }


}

@media only screen and (max-width:787.78px) {



    .h1 {
        font-size: 26px;
    }

    .h2 {
        font-size: 30px;
        /* margin-top: -28px; */
        margin-bottom: -17px;
    }
    #h2{
        font-size: 16px;
    }
}


@media only screen and (max-width: 768px) {


    .con{
        width: 90%;
    }
    .grid{
        grid-template-columns: 50% 50%;
    }
    .row {
        width: 100%;
        flex-direction: column;
    }
    .right2{
        width: 100%;
    }
    .left3{
        width: 100%;
    }

}
@media only screen and (max-width: 555px) {
    
}

@media only screen and (max-width: 555.56px) {
    .grid{
        grid-template-columns: 100%;
    }

}
