
@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
body{
    direction: rtl;
    font-family: 'iranyekan_numbers','iranyekan';
}

.con{
    width: 80%;
  /* border: 1px solid darkred;*/
    margin: 0 auto;
    height: auto;
}
*{
    margin: 0;
    padding: 0;
}

.cont-f{

    display: flex;
    width: 99%;
   /* border: 1px solid darkslateblue;*/
    min-width: 40px;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 12px;
    justify-content: space-between;
}

h1{
    font-size: 16px;
}
.button {
    width: 140px;
    height: 53px;
    color: white;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 165, 233);
    font-weight: bolder;
    text-decoration: none;
    margin-top: 15px;
}

.button:hover{
    background-color: rgb(58, 157, 233);
}

.slid{
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
    min-height: 400px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(14, 165, 233, 0.80), rgba(0, 0, 0, 0.60)), url('b7454c6e5a984782b677993f161bc720-20220822_234811.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 40%);
}

.h2 {
    font-size: 40px;
    /* margin-top: -28px; */
    margin-bottom: -19px;
}

.h1 {
    font-size: 50px;
    color: yellow;
    font-weight: bolder;
    margin-bottom: -4px;
}

.h3{
    font-size: 30px;
}

.color{
    width: 100%;
    height: auto;
    background-color: rgb(243, 244, 246);
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex{
    display: flex;
    flex-direction: row;
    /*border: 1px solid navajowhite;*/
   height: auto;

}

.right{
    width: 40%;
    /*border: 1px solid red;*/
    min-width: 250px;
    margin-top: 15px;
}

.left{
    width: 60%;
   /* border: 1px solid darkslateblue;*/
    min-width: 250px;
    margin-top: 15px;
}
#p2{
    color: red;
    margin-bottom: 15px;
}

#bold{
    font-weight:bolder;
}

.a2{
    width: 100%;
    height: 500px;
}

.left2{

    width: 100%;
    /*border: 1px solid darkslateblue;*/
     height: auto;
    margin-right: 25px;
}

.list li svg {
    width: 20px;
    color: rgb(34, 197, 94);
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 24px;
    line-height: 45px;
}

.list li  label{
margin-top: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /*border: 1px solid darkslateblue;*/
    width:100%;
    gap: 20px;
    margin-top: 15px;
    list-style: none;
    align-items: center;

}

.grid img{
   max-width:65%;
}

.grid li{
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.section2{
    background-color:  rgb(243, 244, 246);
    margin-top: 50px;
}

.list3{
    margin-top: 15px;
    /*border: 1px solid darkslateblue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#li5{
    list-style: none;
    margin-top: 35px;
}

.list3 li {
    width: 95%;
    padding-top: 10px;
    list-style: circle;
    font-size: 19px;
}

.img2{
    color: white;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(2, 132, 199, 0.73)), url('f8fa33dcc7aa4bff8e09b3a8bfa47556-20220822_234734.webp');
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
}
.img2 h2{
    margin-top: 75px;
    font-size: 25px;
}

.img2 ul{
    margin-top: 25px;
    list-style: none;

}

.img2 li{

    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 7px;
}

.img2 svg{
    width: 5%;
}

.dash span{

    font-size: 22px;
}

.svg{

    margin-top: 25px;
}

.dash{
    margin-right: 15px;
}
.row{
   /* border: 1px solid;*/
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.right2{
    width: 50%;
   /* border: 1px solid saddlebrown;*/
    height: auto;
}
.right2 ul{
    margin-top: 20px;
    list-style: none;
}

.right2  a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.left3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 15px;
}

.left3{
    width: 50%;
    /*border: 1px solid slateblue;*/
    height: auto;
}
.right2 h2{
    color: rgb(156, 163, 175);
}

.left3 h2{
    color: rgb(156, 163, 175);
}

.left3 svg {

    width: 4%;
color: rgb(156, 163, 175);;
}
.left3 ul{
    margin-top: 25px;
    color: rgb(156, 163, 175);
    list-style: none;
}

.left3 li{
    display: flex;
    flex-direction: row;
    line-height: 35px;
    align-items: center;
    color: black;
}

.left3 p{
    font-size: 18px;
    margin-right: 15px;

}